:root {
  /* 추가 media query에 따른 글자크기 */
  --button-fontSize-sm: 1.3em;
  --button-fontSize-md: 1.8em;
}
/* mobile */
.textButton {
  /* 수정 기존 width:80px, height:40px */
  width: 100%;
  height: 100%;
  /* 수정 form의 radius가 맞춤 기존 5px */
  border-radius: 10px;
  background-color: #1D757D;
  cursor: pointer;
  color: white;
  font-size: var(--button-fontSize-sm);
  text-align: center;
}

/* Tablet, PC */
@media only screen and (min-width: 576px) {
  .textButton {
    font-size: var(--button-fontSize-md);
  }
}
