:root {
  --form-fontSize-sm: 1em;
  --form-fontSize-md: 1.5em;
}

/* mobile */
.form {
  align-items: center;
  background-color: transparent;
  display: flex;
  height: inherit;
  margin: 30px 0;
  font-size: var(--form-fontSize-sm);
}
  
.form-label {
  color: #DD712B;
  text-align: left;
  width: 30%;
  font-size: var(--form-fontSize-sm);
}

.form-block {
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  height: 100%;
  width: 70%;
  box-sizing: border-box;
  font-size: var(--form-fontSize-sm);
  padding: 8px;
}

.form-block-arrow {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='50' viewBox='0 0 24 24' width='50' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
}
/* Tablet */
@media only screen and (min-width: 576px) {
  .form {
    font-size: var(--form-fontSize-md);
  }
}
