.currentSeatDisplay {
  background-color: transparent;
  display: flex;
  justify-content: left;
  align-items: center;
}

.vacant {
  color: #dd712b;
}

.occupied {
  color: #1d757d;
}

.status,
.seatsNumber {
  font-size: 1em;
  margin: 10px;
  width: 80px;
}
