.seat{
    width: 50px;
    height: 20px;
    padding: 3px;
    margin: 3px;
    border-radius: 5px;
  }
  
  .seat-vacant{
    background-color: #DD712B;
  }
  
  .seat-occupied{
    background-color: #E0D1BA;
    color: #1D757D;
  }
