.seat {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  padding: 3px;
  height: 80px;
  flex-basis: 80px;
  flex-grow: 0;
  flex-shrink: 0;
}

@media only screen and (min-width: 600px) {
  .seat {
    min-height: 100px;
    min-width: 100px;
  }
}

@media only screen and (min-width: 1000px) {
  .seat {
    min-height: 80px;
    min-width: 80px;
  }
}

.seat-vacant {
  background-color: #DD712B;
  box-shadow: 3px 3px 3px 1px #D6CAB0;
}

.seat-occupied {
  background-color: #E0D1BA;
}

.seat-number {
  font-size: 1em;
  height: 30%;
  padding: 3px;
  text-align: left;
}

.seat-number-vacant {
  color: #E0D1BA;
  pointer-events: none;
}

.seat-number-occupied {
  color: #DD712B;
}

.seat-info {
  color: #1D757D;
  font-size: 2em;
  font-weight: bold;
  height: 70%;
  text-align: center;
}
