.seatDisplay-container {
  width: 90%;
  margin: 20px auto;
  align-content: center;
}

@media only screen and (min-width: 360px) {
  .seatDisplay-container {
    width: 80%;
    align-content: center;
  }  
}

@media only screen and (min-width: 768px) {
  .seatDisplay-container {
    width: 70%;
    margin: 0 auto;
    /* padding-top: 50px; */
  }
}

@media only screen and (min-width: 992px) {
  .seatDisplay-container {
    width: 970px;

  }
}
