  .header-wrapper {
    width: 100%;
    /* height: 14%; */
    /* 삭제 */
    /* background-color: #E0D1BA; */
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    padding: 20px 0;
  }
  .mogamLogo-wrapper {
    width: 40%;
    display: flex;
    align-items: flex-end;
    margin-left: 20px;
  }
  .mogamLogo {
    width: 60px;
    height: 80px;
  }
  .mogamLogo-title {
    font-size: 1.8em;
    font-weight: bold;
    color: #DD712B;
    display: flex;
    align-items: flex-end;
    margin-left: 5px;
  }
  .infoIcon-wrapper {
    width: 15%;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    margin-right: 20px;
  }
  .infoIcon-wrapper img {
    width: 30px;
    height: 30px;
  }
  .notice-wrapper {
    width: 90%;
    margin: 0 auto;
  }
  .notice-title {
    height: 10%;
    font-size: 1em;
    color: #1d757d;
    padding: 0 auto;
  }
  .notice-content {
    font-size: 0.8em;
    padding-bottom: 10px;
    white-space: pre-wrap;
    overflow-y: scroll;
    scrollbar-width: none;
    font-family: var(--font-notoSans);
  }
  .notice-content::-webkit-scrollbar {
    display: none;
  }
@media only screen and (min-width: 768px) {
  .mogamLogo-wrapper {
    margin-left: 50px;
  }
  .mogamLogo {
    width: 80px;
    height: 100px;
  }
  .mogamLogo-title {
    font-size: 2em;
  }
  .infoIcon-wrapper {
    /* height: 50%; */
    margin-right: 50px;
  }
  .infoIcon-wrapper img {
    width: 40px;
    height: 40px;
  }
} 
@media only screen and (min-width: 992px) {
  .header-wrapper {
    width: 970px;
    margin: 0 auto;
    padding-top: 30px;
  }
  .mogamLogo-wrapper {
    margin-left: 0;
  }
  .mogamLogo-wrapper {
    height: 0;
  }
  .infoIcon-wrapper {
    justify-content: end;
    margin-right: 0;
  }
}












