@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@300&family=Noto+Serif+KR:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: var(--font-jua);
}
:root {
  --font-jua: 'Jua', sans-serif;
  --font-notoSerif: 'Noto Serif KR', serif;
  --font-notoSans: 'Noto Sans KR', sans-serif;
}

.App {
  background-color: #e0d1ba86;
  min-height: 100vh;
  font-family: var(--font-jua);
  position: relative;
}
.seatDisplay-container {
  align-content: space-between;
}
.LogoLamp {
  position: absolute;
  top: -10px;
  left: -55px;
  opacity: 0;
  transition: opacity .5s;
}
.LogoLamp.active {
  position: absolute;
  top: -10px;
  left: -55px;
  opacity: 1;
}
img.LogoLamp {
  width: 270px;
  height: 200px;
}
.OnButton {
  background: #efefef;
  height: 25px;
  width: 45px;
  border-radius: 30px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background .5s;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.OnButton span {
  display: block;
  background: #999;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-left: 2px;
  transition: background .5s, margin-left .5s;
}
.OnButton.active {
  background: #E0D1BA;
  height: 25px;
  width: 45px;
  border-radius: 30px;
  border: 0;
  outline: 0;
  cursor: pointer;
  z-index: 1;
}
.OnButton.active span {
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #DD712B;
  margin-left: 22px;
  transition: background .5s, margin-left .5s;
  z-index: 10;
}
@media only screen and (min-width: 768px) {
  .LogoLamp {
    position: absolute;
    top: -30px;
    left: -45px;
    opacity: 0;
    transition: opacity .5s;
  }
  .LogoLamp.active {
    position: absolute;
    top: -30px;
    left: -45px;
    opacity: 1;
  }
  img.LogoLamp {
    width: 350px;
    height: 300px;
  }
  .OnButton {
    margin-top: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .Lamp-wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-55%);
    width: 970px;
    margin: 0 auto;
    padding-top: 90px;
  }
  .LogoLamp {
    position: inherit;
    opacity: 0;
    transition: opacity .5s;
  }
  .LogoLamp.active {
    position: inherit;
    opacity: 1;
  }
  img.LogoLamp {
    width: 350px;
    height: 300px;
  }
  .OnButton {
    margin-top: 110px;
  }
}
