@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@300&family=Noto+Serif+KR:wght@300&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: var(--font-jua);
}
:root {
  --font-jua: 'Jua', sans-serif;
  --font-notoSerif: 'Noto Serif KR', serif;
  --font-notoSans: 'Noto Sans KR', sans-serif;
}

.App {
  background-color: #e0d1ba86;
  height: 120vh;
  font-family: var(--font-jua);
}
.header-wrapper {
  height: 10%;
}
.seatDisplay-container {
  align-content: space-between;
}
